<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>


<body>

    <div class="container">
        <div class="row">
    		<div class="span10" align="center">
    			<form class="form-horizontal" action='' method="POST">
    			  <fieldset>
    			    <div id="legend">
    			      <legend class="">Login</legend>
    			    </div>
    			    <div class="control-group">
    			      <!-- Username -->
    			      <label class="control-label"  for="username">Username</label>
    			      <div class="controls">
    			        <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
    			      </div>
    			    </div>
    			    <div class="control-group">
    			      <!-- Password-->
    			      <label class="control-label" for="password">Password</label>
    			      <div class="controls">
    			        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
    			      </div>
    			    </div>
    			    <div class="control-group">
    			      <!-- Button -->
    			      <div class="controls">
    			        <button class="btn btn-success">Login</button>
    			      </div>
    			    </div>
    			  </fieldset>
    			</form>
    		</div>
    	</div>
    </div>


</body>
</html>